{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
      <div class="row mb-sm-5">
        <div class="col-lg-5 me-lg-5 col-md-12 mb-md-5 mb-sm-5">
          <img src="{% static 'images/sertifikat.jpg' %}" class="img-responsive w-100" alt="" style="border-radius: 20px;">
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="col-12 mb-5" style="background-color: white; border-radius: 15px; padding-left: 20px;">
              <h4 style="margin-top: 10px; margin-bottom: 20px;"><b>Коротко о главном</b></h4>
              <p>“VISAGE” - с французского лицо.
                    Нам с рождения даны его формы, черты и естественная красота, которую мы зачастую не способны рассмотреть сами.
                    Визажист - это тот, кто помогает увидеть...
                    увидеть совершенство в нас.</p>
            </div>
            <div class="col-12" style="background-color: white; border-radius: 15px; padding-left: 20px;">
              <h4 style="margin-top: 10px; margin-bottom: 20px;"><b>Я – сертифицированный визажист Литвинова Ольга</b></h4>
              <p>Мой профессиональный подход основан на учете всех тонкостей вашего стиля, особенностей и пожеланий. 
                Это позволит Вам получить желаемый результат, почувствовать себя комфортно и всецело насладиться 
                только положительными моментами!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-md-12 me-lg-5">
          <div class="row">
            <div class="col-12 mb-5" style="background-color: white; border-radius: 15px; padding-left: 20px;">
              <h4 style="margin-top: 10px; margin-bottom: 20px;"><b>Творим красоту</b></h4>
              <p>Что такое макияж?</p>
              <p>Безопасный, лёгкий и элегантный способ осознать, где проходят границы собственного Я, рассказать настоящую или выдуманную историю.</p>
              <p>Наша миссия - создание естественного элегантного образа, максимально раскрывающего индивидуальность каждого клиента. </p>
              <p>Макияж и прическа не по шаблону. Подберем макияж и прическу в соответствии с Вашим типом внешности.</p>
              <p>Мы любим свою работу, для нас макияж — это возможность подчеркнуть естественную красоту.</p>
              <p>Мы работаем только на профессиональных и качественных материалах. Тщательно дезинфецируем кисти и косметику.</p>
              <p>Мы гарантируем, что в этот день Вы будете выглядеть идеально.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 ms-lg-5">
          <img src="{% static 'images/я1.png' %}" class="w-100" alt="">
        </div>
      </div>

    </div>
    </div>
{% endblock content %}