 <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <div class="container">
                    <div class="row">
                        <div class="col-11">
                            <h5 class="modal-title text-center" id="exampleModalLabel">Записаться</h5>

                        </div>
                        <div class="col-1">
                            <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                        </div>

                    </div>

                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                  <div class="row mb-3 justify-content-center mb-4">
                    <div class="col-sm-10">
                        <label for="id_name_klient">Введите ваше имя</label>
                          {{form.name_klient}}
<!--                      <input type="text" class="form-control" id="InputName">-->
                    </div>
                  </div>

                  <div class="row mb-3 justify-content-center mb-4">
                    <div class="col-sm-10">
                        <label for="id_telephon">Введите номер телефона</label>
                          {{form.telephon}}
                    </div>
                  </div>
                    <div class="row mb-3 justify-content-center mb-4">
                        <div class="col-sm-10">
                          <div>
                              <label for="id_makeup">Выберите макияж</label>
                             {{form.makeup}}
                          </div>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center mb-4">
                        <div class="col-sm-10">
                          <div class="">
                              <label for="id_pricheski">Выберите причёску</label>
                             {{form.pricheski}}
                          </div>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center mb-4">
                        <div class="col-sm-10">
                          <div class="">
                              <label for="id_vizajist">Выберите визажиста</label>
                            {{form.vizajist}}
                          </div>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center mb-4">
                    <div class="col-sm-10">
                          <label for="id_vizajist">Выберите дату</label>
                          {{form.data_vypoln}}
                    </div>
                        <p>{{ form.z.kvalifikaciya.procent }}</p>
                  </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-5 ms-5">
                                    <button type="button" class="buttons" data-bs-dismiss="modal">Закрыть</button>
                                </div>
                                <div class="col-5">
                                    <button type="submit" class="buttons">Записаться</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>