{% extends 'index.html' %}
{% load static %}

{% block thanks %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>
<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Благодарим, что выбрали нас</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Спасибо, <b>{{name}}</b></p>
          <p>Ждём вас по адресу: <b>Академическая 24</b></p>
           <p>Итого к оплате: <b>{{stoimost}}₽</b></p>
          <p>В скором времени мы Вам перезвоним, </p>
          <p>чтобы подтвердить заявку.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="buttons" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}